### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.xml
*.pkl
out
gen

make_and_apply_normative_model.py
make_model.py
Normative_Model_IBIS_EF_Behav.py
